/* Import Open Sans font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800);
@import url(/assets/fonts/fontawesome-free-6.1.2-web/css/all.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body {
    background: #fafafa;
}

/* Top NavBar */
nav#main-nav {
    background-color: #fff;
    height: fit-content;
    width: 80%;
    position: fixed;
    padding: 1% 10%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    z-index: 999;
}
div#div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul#nav-ul {
    display: flex;
    list-style: none;
    max-height: 100%;
}
li.main-nav-items {
    padding: 0 .8em;
    max-height: fit-content;
    width: 76px;
    text-align: right;
}
li.main-nav-items::after {
    content: "";
    display: block;
    width: 1em;
    height: 2px;
    background: transparent;
    position: absolute;
    transform: translate(220%, -200%);
    transition: all .2s ease-in-out;
    border-radius: 5%;
}
li.main-nav-items:hover::after {
    content: "";
    display: block;
    width: 1em;
    height: 2px;
    background: black;
    position: absolute;
    transform: translate(220%, 100%);
    transition: all .2s ease-in-out;
    border-radius: 5%;
}
li.main-nav-items:hover > a {
    color: #112D4E;
    opacity: 1;
    transition: all .1s ease-in-out;
}
li.main-nav-items > a {
    color: #112D4E;
    text-decoration: none;
    font-weight: 700;
    opacity: .5;
    transition: all .1s ease-in-out;
}
li.main-nav-items:nth-child(1)::after {
    content: "";
    display: block;
    width: 1em;
    height: 2px;
    background: black;
    position: absolute;
    transform: translate(280%, 100%);
    border-radius: 5%;
}
li.main-nav-items:nth-child(1) > a {
    color: #112D4E;
    opacity: 1;
}
a.nav-links {
    color: #112D4E;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
li#logo-nav {
    padding: 0 .8em;
}
img.imgs-nav {
    height: 2.2em;
    margin: 0;
    display: flex;
}
img#profile-img {
    display: inline-block;
}
.fa-chevron-down::before {
    display: inline-block;
    margin-left: .2em;
    text-decoration: none;
    color: black !important;
    font-size: .9em;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
}
.fa-chevron-down:hover::before {
    display: inline-block;
    margin-left: .2em;
    text-decoration: none;
    color: black !important;
    font-size: .9em;
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

/* Main Container */
#container {
    width: 80%;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 48px;
    margin: auto;
}