@font-face {
  font-family: 'FontAwesome';
  src: url('../../assets/font-awesome-4.7.0/fontawesome-webfont.eot?v=4.7.0');
  /* fontawesome-webfont.eot?v=4.7.0 */
  src: url('../../assets/font-awesome-4.7.0/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../assets/font-awesome-4.7.0/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../assets/font-awesome-4.7.0/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../assets/font-awesome-4.7.0/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../assets/font-awesome-4.7.0/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  /* fontawesome-webfont.eot?#iefix&v=4.7.0 (embedded-opentype) ;
       fontawesome-webfont.woff2?v=4.7.0 (woff2) ;
       fontawesome-webfont.woff?v=4.7.0 (woff) ;
       fontawesome-webfont.ttf?v=4.7.0 (trutype) ;
       fontawesome-webfont.svg?v=4.7.0#fontawesomeregular (svg) */
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-heart::before {
  content: "\f004";
}
.fa-linkedin-square::before {
  content: "\f08c";
}
.fa-globe::before {
  content: "\f0ac";
}
.fa-instagram::before {
  content: "\f16d";
}
.fa-search::before {
  content: "\f002";
}