@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800);

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 200;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
}


/* Main Container */
.container {
    width: 80%;
    height: fit-content;
    margin: auto;
}
.landing-page {
    height: 100%;
    padding: 15% 0;
}
.pub-landing {
    padding: 8% 0;
}

/* Typography */
.white-text {
    color: #fff;
}
.black-text {
    color: #000;
}
.primary-text {
    color: #112D4E;
}
.yellow-text {
    color: #FFC42D;
    font-size: inherit;
}
.head-1 {
    font-size: 35px;
    font-weight: 700;
}
.head-2 {
    font-size: 24px;
    font-weight: 600;
}
.head-3 {
    font-size: 22.5px;
    font-weight: 600;
}
.main-p {
    font-size: 20px;
}
.footer-size {
    font-size: 16px;
}
.filter-text {
    font-size: 10px;
}

/* Footer */
#our-footer {
    transition: all .4s ease;
    display: none; 
    transform: translateY(-50%);
}
.active-foot {
    display: block !important;
    transform: translateY(0) !important;
    transition: all .4s ease;
}
.main-footer {
    background-color: #112D4E;
    padding: 3% 0 0 0;
}
/* Head Footer */
.head-footer {
    margin-bottom: 5%;
}
.head-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    height: 3rem;
    margin-bottom: 2%;
}
.footer-logo > img {
    height: 100%;
}
.footer-desc {
    display: flex;
}
.footer-desc > p {
    text-align: center;
}
/* Mid */
.mid-footer {
    box-sizing: border-box;
}
.mid-footer > div {
    display: flex;
}
.mid-bottom-footer {
    color: #112D4E;
}
/* Mid (Waves) */
.waves {
    position:relative;
    width: 100%;
    height: 2.5%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
/* Bottom */
.bottom-footer {
    position: relative;
    /* width: 80%; */
    padding: 2% 0;
    background-color: #fff;
}
.bottom-footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    align-content: center;
}
.kopirek, .made-with, .sosmed {
    display: flex;
}
.made-with {
    margin-right: 15%;
}
.sosmed {
    width: 4rem;
    justify-content: space-between;
}