@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);

/* Main Container */
#container {
    width: 80%;
    height: fit-content;
    padding-top: 12%;
    padding-bottom: 48px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General */
.welcome-content {
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

/* Left Section */
#welcome-left-section {
    color: #112D4E;
}
.left-contents {
    font-family: Montserrat;
    margin: 24px 0;
}
#welcome-left-section #welcome-title, span.yellow-text {
    font-weight: 700;
    font-size: 47px;
}
#welcome-left-section #welcome-sub-title {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}
#welcome-left-section a#welcome-course-anchor {
    padding: 16px;
    border-radius: 14px;
    background: #112D4E;
}
#welcome-left-section #welcome-start-course-button {
    color: #fff;
    width: fit-content;
    font-weight: 600;
    margin-top: 62px;
    margin-bottom: 0;
}

/* Right Section */
#welcome-right-section {
    float: right;
}
#welcome-hero-image > img {
    max-width: 364px;
    max-height: 364px;
}
span.yellow-text {
    color: #FFC42D;
}