/* Import Open Sans font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800);

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Top NavBar */
nav#main-nav {
    background-color: #fff;
    height: fit-content;
    width: 80%;
    position: fixed;
    padding: 1% 10%;
    /* box-shadow: 0px 1px 3px rgba(0,0,0,0.2); */
    z-index: 999;
}
div#div-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul#nav-ul {
    display: flex;
    list-style: none;
    max-height: 100%;
}
li.main-nav-items {
    padding: 0 .8em;
    max-height: fit-content;
    width: 4.6em;
    text-align: right;
}
li.main-nav-items::after {
    content: "";
    display: block;
    width: 1em;
    height: 2px;
    background: transparent;
    position: absolute;
    transform: translate(220%, -200%);
    transition: all .2s ease-in-out;
    border-radius: 5%;
}
li.main-nav-items:hover::after {
    content: "";
    display: block;
    width: 1em;
    height: 2px;
    background: black;
    position: absolute;
    transform: translate(220%, 100%);
    transition: all .2s ease-in-out;
    border-radius: 5%;
}
li.main-nav-items:hover > a {
    color: #112D4E;
    opacity: 1;
    transition: all .1s ease-in-out;
}
li.main-nav-items > a {
    color: #112D4E;
    text-decoration: none;
    font-weight: 700;
    opacity: .5;
    transition: all .1s ease-in-out;
}
li.main-nav-items:nth-child(1)::after {
    content: "";
    display: block;
    width: 1em;
    height: 2px;
    background: black;
    position: absolute;
    transform: translate(280%, 100%);
    border-radius: 5%;
}
li.main-nav-items:nth-child(1) > a {
    color: #112D4E;
    opacity: 1;
}
li#logo-nav {
    padding: 0 .8em;
}
img.imgs-nav {
    height: 2.2em;
    margin: 0;
    display: flex;
}
img#profile-img {
    display: inline-block;
    margin-right: .6em;
}
.chev-down {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.chev-down::before {
    text-decoration: none;
    transform: rotate(135deg);
    transition: all .2s ease-in-out;
    position: relative;
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
}
.chev-down:hover::before {
    text-decoration: none;
    transform: rotate(-45deg);
    transition: all .2s ease-in-out;
    position: relative;
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
}