a {
    text-decoration: none;
    color: inherit;
}

/* General */
.welcome-content {
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}
#landing-page {
    height: 100%;
    padding: 15% 0;
}

/* Left Section */
#welcome-left-section {
    color: #112D4E;
}
.left-contents {
    font-family: Montserrat;
    margin: .6em 0;
}
#welcome-left-section #welcome-title, span.yellow-text {
    font-weight: 700;
    font-size: 47px;
}
#welcome-left-section #welcome-sub-title {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}
#welcome-left-section a#welcome-course-anchor {
    padding: 1rem;
    border-radius: 14px;
    background: #112D4E;
}
#welcome-left-section #welcome-start-course-button {
    color: #fff;
    width: fit-content;
    font-weight: 600;
    margin-top: 4em;
    margin-bottom: 0;
}

/* Right Section */
#welcome-right-section {
    float: right;
}
#welcome-hero-image > img {
    max-width: 364px;
    max-height: 364px;
}

/* Why Choose Us */
#box-cu {
    background-color: #112D4E;
    padding: 3% 0;
}
#cu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cu-text {
    font-family: Montserrat;
}
.cu-content {
    margin: 10% 0;
    width: fit-content;
}
a#a-button-cu {
    text-align: center;
}
a#a-button-cu > span {
    margin-left: .8em;
    font-size: 18px;
}

/* Why Choose Us (Right) */
#right-cu {
    box-sizing: border-box;
}
#the-show {
    display: inline-block;
}
#slideshow-container {
    border-radius: 16px;
    /* max-height: 85%; */
    box-shadow: 3px 6px 6px 1px rgba(0, 0, 0, 0.35);
}
#slideshow-indicator {
    height: 10%;
    margin: 2.5% 0;
    text-align: center;
}
.slide-images {
    display: none;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}
img.mslide {
    max-width: 427px;
    min-width: 427px;
    max-height: 240px;
    min-height: 240px;
    border-radius: 16px;
    object-fit: cover;
    vertical-align: middle;
}
.slide-images::before {
    content: "";
    position: absolute;
    width: 213.5px;
    height: 240px;
    transform: skew(220deg) translateX(-45%);
    z-index: 1;
    right: 50%;
    background-color: rgba(255, 255, 255, 0.50);
}
.s-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 .3em;
    background-color: #9C9C9C;
    display: inline-block;
    transition: all .3s ease-in-out;
}
.active-dot {
    height: 12px !important;
    width: 12px !important;
    background-color: #fff;
    transition: all .3s ease-in-out;
}