/* Filter box */
#filter-box {
    box-sizing: border-box;
}
#search-box {
    display: inline-block;
}
.no-border {
    border: none;
}
#search {
    min-width: fit-content;
    align-items: center;
    position: relative;
}
#box-input {
    display: inline-block;
}
#search-input {
    margin: 0;
    padding: 5%;
}
#search-button {
    position: absolute;
    background-color: none;
    width: fit-content;
    text-align: center;
    display: inline-block;
}